[submodule "pack/dist/start/dracula"]
	path = pack/dist/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/dist/start/vim-airline"]
	path = pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/dist/start/fugitive"]
	path = pack/dist/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "pack/dist/start/nerdtree"]
	path = pack/dist/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/dist/start/emmet-vim"]
	path = pack/dist/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/dist/start/auto-pairs"]
	path = pack/dist/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/dist/start/vim-javascript"]
	path = pack/dist/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/dist/start/surround"]
	path = pack/dist/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/dist/start/repeat"]
	path = pack/dist/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/dist/start/scss-syntax"]
	path = pack/dist/start/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "pack/dist/start/vim-css3-syntax"]
	path = pack/dist/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/dist/start/vim-jsx-pretty"]
	path = pack/dist/start/vim-jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty
